section{
    height: 30px;
    width: 250px;
    background-color: bisque;
    border: 2px solid black;
    animation-name: slider;
    animation-duration: 2s;
    animation-direction: normal;
    /* animation-iteration-count: 3; */
    animation-iteration-count: infinite;
    animation-direction: alternate;

    animation-delay: 2s;
    animation-play-state: running;

}

@keyframes slider{

    25%{
        width: 400px;
        height: 100px;
    }
    50%{
        width: 600px;
        height: 150px;
    }
    70%{
        width: 700px;
        height: 50px;
    }
    100%{
        width: 800px;
        height: 300px;  
    }
}

.first
{
    height: 200px;
    width: 500px;
    background-color: aqua;
    animation-name: slide;
    animation-duration: 2s;
    animation-direction: normal;
    animation-fill-mode:forwards;

}


@keyframes slide{
    25%{
        height: 50px;
        width: 250px;

    }
}