h1{
    font-size: 3rem;
    color: brown;
    text-align: center;
    text-shadow: 10px 10px 5px blue,15px 15px 10px green;

    transition: 1s;
    transform: rotate(360deg); 
    /* transform: translatex(200px); */
    /* transform: skew(20deg); */

    /* transform: scaleY(1.5); */
  
} 


