*{
    margin: 0;
    padding: 0;
}

.container{
    width: 960px;
    margin: 100px auto;
    display:grid;
    /* grid-template-columns: 250px 250px 250px 250px; */

    /* grid-template-columns: repeat(4,250px); */

    grid-template-columns: 1fr 1fr 1fr 1fr;

    /* row-gap: 20px; */    
    /* column-gap: 20px; */

    gap: 10px;
    /* align-items: center; */
    /* align-items: flex-end; */
    /* align-items: flex-start; */

    /* align-items: stretch; */

    /* justify-content: end; */

    /* grid-row-start: ; */


    grid-template-rows: minmax(300px,1fr);



}

.box{
    background-color: steelblue;
    border: 2px solid black;
    color: white;
    padding: 20px;
    /* margin: 2px; */
}

/* .box:nth-of-type(2) */
/* { */
    /* align-self: center; */
/* } */


/* .box:nth-of-type(1) */
/* { */
    /* grid-column-start: 1; */
    /* grid-column-end: 3; */
/*  */
/* } */
/*  */
/* .box:nth-of-type(4) */
/* { */
    /* grid-column-start: 1; */
    /* grid-column-end: 3; */
/* } */


@media screen and(max-width:540px){
    
    .container{
        grid-template-columns: 1fr;
    }
    
}